<div class="movie-card">
  <div class="info-section">
    <div class="movie-header">
      <h1 class="title">{{ movie.title }}</h1>
      <h4 class="info">
        {{ movie.release_date | date: 'longDate' }}
      </h4>
    </div>
    <div class="movie-desc">
      <p class="text">
        {{ truncate(movie.overview) }}
      </p>
    </div>
  </div>
  <div
    class="blur-back"
    [style.background-image]="
      'url(' + buildBackgroundImageURL(movie.backdrop_path) + ')'
    "
  ></div>
</div>
