<div class="home-container">
  <form [formGroup]="form" (ngSubmit)="addMovieToFind()" class="search-form">
    <div class="chip" *ngFor="let movieTerm of movieTermsArray">
      <span>{{ movieTerm }}</span>
      <button
        type="button"
        (click)="deleteMovieToFind(movieTerm)"
        class="close-button"
      >
        <i class="fas fa-times close-icon"></i>
      </button>
    </div>

    <div class="input-wrapper">
      <input
        formControlName="movieTerm"
        type="text"
        class="search-input"
        id="search-input"
        placeholder="{{ 'TypesomethingAndPressEnter' | translate }}"
        (keyup.enter)="addMovieToFind()"
        (keydown.backspace)="removeLastMovie()"
      />
      <i (click)="findMovies()" class="fas fa-search"></i>
    </div>
  </form>
  <div class="movies-grid">
    <ng-container *ngFor="let movieResponse of moviesFound">
      <app-movie-card
        [movie]="movie"
        *ngFor="let movie of movieResponse.results"
      >
      </app-movie-card>
    </ng-container>
  </div>
  <div class="loader">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
  <div class="no-result-message" *ngIf="noMoviesFound">
    {{ 'NoMoviesFound' | translate }}
  </div>
</div>
